.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__site-list {
  margin-left: auto;
}

.main-nav__toggle {
  position: relative;

  margin-right: 15px;
  width: 46px;
  height: 50px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 10px;

    display: block;
    width: 26px;
    height: 5px;

    background-color: black;

    box-shadow: 0 9px 0 0 black,
                0 18px 0 0 black;
  }

  &::after {
    content: "MENU";

    position: absolute;
    left: 2px;
    bottom: 2px;
  }
}