.button {
  padding: 22px 28px;

  color: #f9f9f9;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;

  border-radius: 28px;
  border: 2px solid #ffffff;

  &--green {
    color: #2ebd59;

    border-radius: 25px;
    border-color: #2ebd59;
  }
}